*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #749bc2;
    opacity: 0.80;

    .left_header {
        position: absolute;
        left: 1rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;

        .company_logo {
            max-width: 2.5rem;
        }

        .company_name {
            font-family: "Modak", system-ui;
            font-size: 2rem;
            font-weight: 100;
            color: rgb(255, 255, 255);
        }
    }

    .middle {
        font-size: .9rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        .btn {
            font-weight: 4rem;
            color: white;
        }
    }
}