*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-optical-sizing: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #749bc2;
    opacity: 0.80;

    .middle {
        font-size: .9rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

.btn {
    font-weight: 100;
    font-size: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left_header {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;

    .company_logo {
        max-width: 2rem;
    }
    .company_name {
        font-family: "Akaya Kanadaka", system-ui;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
}