*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-optical-sizing: auto;
    font-family: "Roboto", sans-serif;
    /* border: #000000 1px solid; */
}

body {
    background-color: #000000;
    position: relative;
}

.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 1000;
    position: fixed;
}

.header .middle {
    font-size: 0.9rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header .company_logo {
    max-width: 2.8rem;
}

.btn {
    font-weight: 300;
    font-size: .6rem;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;

    border: 1px rgb(255, 255, 255) solid;
}

.btn:hover {
    transform:scale(0.95);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    background-color: #93939369;
}

.btn.active {
    background-color: #ffffff45;
}

.middle>* {
    padding: .4rem;
    border-radius: 15px;
}

.section {
    height: 100dvh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #4682A9, #91C8E4);
    display: flex;
}

.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left .contents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 70%;
    text-align: left;
}

.right {
    overflow: hidden;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 33%;
    transform: rotate(10deg);
    z-index: 1;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
    text-align: left;
}

.content_btn {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.4rem 1rem;
    border-radius: 15px;
    transition: background-color 0.2s ease;
}

.content_btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.title {
    font-size: 10rem;
    color: rgb(255, 255, 255);
    text-align: left;
}


.description {
    max-width: 40%;
    color: #ffffff;
}


